asgiref==3.11.1
Django==6.0.6
django-storages[s3]==1.14.6
gunicorn==26.0.0
packaging==26.2
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
pygeohash==3.3.0
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.12.0
